# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor[data-grammar="source gfm"]': [
    {
      'label': 'Inline Preview'
      'command': 'preview-inline:show'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'preview-inline'
      'submenu': [
        {
          'label': 'Show'
          'command': 'preview-inline:show'
        }
        {
          'label': 'Clear'
          'command': 'preview-inline:clear'
        }
      ]
    ]
  }
]
